* {
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;

  --main-color: #ddd;
  --secondary-color: #c1c1c1;
  --accent-color: #9eb6c9;

}
html {
  height: 100%;
  background-color: yellow;
  overflow: hidden;
}
body {
  height: 100%;
  background-color: var(--main-color);
}
main {
  display: flex;
  overflow: hidden;
  height: 100%;
  position: relative;
}

button {
  background-color: rgba(0,0,0,0);
  border: rgba(0,0,0,1);
}

/* Start of task list */
.task-list { 
  flex: 0 0 18%;
  max-width: 17rem; /* Prevents task list expanding with long task names */
  height:100%;
  margin: 5px;
  padding: 1%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 1px 1px lightgrey;
}

@media (max-width: 800px) {
  .task-list {
      display: none;
  }
  .journal-past-wrap .task-list {
    display: block;
  }
}

.task-header {
  display: flex;
}

#addbutton {
  margin-left: auto;
}

#addbutton img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.task-list strong {
  font-size: 0.8em;
  overflow: hidden;
}

.task-list ul {
  list-style: none;
  padding: 0;
}

.task-list li {
  background: #e0e0e0;
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  position: relative; /* Sets context for absolute positioning of children */
  overflow: hidden; /* Ensures description expands within the li */
  word-wrap: break-word;
  text-align: left; /* Keeps text left-aligned */
  transition: max-height 1s ease-in;
  max-height: 2.7em;
}

.fas.fa-trash-alt {
  position: absolute; /* Positioning relative to the nearest positioned ancestor */
  top: 4px; /* Distance from the top edge of the li */
  right: 4px; /* Distance from the right edge of the li */
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.task-list li:hover {
  max-height: 1000px; /* Set max height tall enough to hold all content */
}

.task-list li:hover .color-buttons {
  opacity: 1; /* Brings the buttons back into view */
}

.task-checkbox {
  appearance: none;
  margin: 0 10px 0 0;
  width: 16px;
  height: 16px;
  border: 2px solid #555;
  border-radius: 50%;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.task-checkbox:checked {
  background-color: #537692;
  border-color: #537692;
}

.task-checkbox:checked::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 1px;
  width: 5px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.fas.fa-trash-alt {
  color: #555;
  cursor: pointer;
  margin-left: auto;
  vertical-align: middle;
}

.color-buttons {
  opacity: 0;
  transition: opacity 0.5s ease;
  max-height: 5em; /* Enough max-height to show the content */
  display: flex; /* Lays out the buttons in a row */
  justify-content: space-around; /* Spaces buttons evenly */
  margin-top: 5px; /* Space from the description */
}

.color-button {
  width: 15px; /* Uniform button size */
  height: 15px; /* Uniform button size */
  border-radius: 100%; /* Makes the buttons circular */
  border: none; /* Removes default button border */
  cursor: pointer; /* Indicates the buttons are clickable */
}

.color-button.red { background-color: red; }
.color-button.orange { background-color: orange; }
.color-button.yellow { background-color: yellow; }
.color-button.green { background-color: green; }
.color-button.blue { background-color: blue; }
/* End of task list */

.main-wrap { 
  flex: 1;
  position: relative;
  float: left;

  height: 100%;
}

/* Start of top bar */
.top-bar {
  position: relative;
  height: 10%;

}

.date-header-wrap {
  position: absolute;
  height: max(30%, 5rem);
  height: 100%;
  width: min(70em, 100%);
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

.date-header {
  display: grid;
  grid-template-columns: 1fr 8fr;
  margin-left: 1.1em;

  position: absolute;
  bottom: 0;

  width: 50%;
  max-width: 40em;
}

/* Wrap the previous and next day buttons*/
.date-header-buttons {
  display: grid;
  grid-template-columns: 1.2em 1fr;

  margin-top: auto;
  margin-bottom: min(0.6em, 14%);
  margin-left: 0.4em;

}

.prev-date-btn {
  width: 2em;
  height: 2em;

  border-radius: 4em;

  /* Add button image */
  background-image: url('../icons/left-icon.png');
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 4px;
}

.next-date-btn {
  float: left;

  width: 2em;
  height: 2em;

  margin-left: 0.4em;

  border-radius: 4em;

  /* Add button image */
  background-image: url('../icons/right-icon.png');
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 8px;
  
}

.date-header-buttons button:hover {
  background-color: var(--secondary-color);
}

.date-header-text {
  width: 100%;
  margin-top: auto;
  margin-bottom: 0em;
  margin-left: 0.2em;
  white-space: nowrap;
  font-size: calc(1.4em + .7vw);
}

.date-header button img {
  height: 18px;
  padding: 4px;
}


.nav-buttons {
  position: absolute;
  top: 0.6em;
  right: 2em;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: min(1em, 0.7vw);
  height: 40%;
}

.nav-buttons button {
  background-color: transparent;
  border: none;
}

.nav-buttons button img {
  width: min(3.4em, 4vw);
  min-width: 2.6em;
  padding-left: 0em;
  padding-right: 0em;
}

button:hover {
  cursor: pointer;
}
/* End of top bar */


/* Begin Entry Content */
.journal-past-wrap {
  width: 100%;
  min-width: 40rem;
  height: 86%;
  max-width: 94.4rem;
}

.today-entry {
  width: min(66rem, 100%);
  height: 78%;
  padding-right: min(2rem, 3%);
  padding-left: min(2.1rem, 3%);
}

/* Start of journal */
.journal {
  height: 60%;
}

.journal-entry {
  height: 94%;
  margin-top: 0.4%;
  margin-right: 2em;
  margin-bottom: 1rem;

  padding: 0.4em 1em 0.4em 1em;

  background-color: var(--secondary-color);

  border-radius: 1em;
}

.journal-entry #textarea {
  width: 100%;
  height: 90%;
  margin-bottom: 1em;

  padding-top: 0.2em;
  padding-left: 0.4em;

  background: var(--secondary-color);

  border: none;
  border-radius: 1em;

  resize: none;
}

.journal-entry #textarea:focus {
  outline: none !important;
  border:1px solid --accent-color;
  box-shadow: 0 0 10px #719ECE;
}
/* End of journal */

/* Start of rating */
.rating-completed-wrap {
  position: relative;
  height: 40%;
}

.rating-completed-wrap h4 {
  text-align: center;
  font-size: max(calc(0.7em + 0.4vw), 15px);
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.rating-widget {
  position: absolute;
  left: 0;
  width: min(50%, 33rem);
  height: 100%;

  background-color: var(--secondary-color);
  border-radius: 1em;
}

.feelings {
  display: flex;
  justify-content: center;
  gap: 0.2em;
  padding-top: calc(1em - 1vw);
  padding-bottom: min(calc(2.2em - 1.8vw), 1.3em);
}

.rating-widget button img {
  height: max(min(4em, 5.8vw), 40px);
}

.rating-widget button img:hover {
  height: max(min(4.2em, 6vw), 65px);
  background: radial-gradient(circle, rgb(3, 128, 237) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 50%;
  transition: 0.5s ease-in-out;
}

.rating-widget img.active {
  height: max(min(4em, 5.8vw), 40px);
  background: radial-gradient(circle, rgba(8, 135, 31, 0.75) 50%, rgb(60, 245, 28) 100%);
  border-radius: 100%;
  transition: 0.5s ease;
}

.productiveness {
  display: flex;
  justify-content: center;
  gap: 0.1em;
  padding-top: calc(1em - 1vw);
}
/* End of rating */



/* Start of completed list */
.journal-past-wrap .task-list {
  position: absolute;
  right: 2em;
  width: min(44%, 30rem);
  height: 100%;
  margin: 0; /* Overwrite inherited margin from task-list */
  max-width: none;
  background-color: var(--secondary-color);

  border-radius: 1em;

}
/* End of completed list */

/* End Entry Content */

/* Start of past week */
.past-week-wrap {
  margin-top: 2%;
  margin-right: 5%;
  margin-left: 2%;
  height: 19%;
}

.past-week-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: min(78rem, 100%);
  height: min(12em, 80%);
  padding-top: max(1.5rem, 3.5vh);
  padding-bottom: max(1.5rem, 3.5vh);;
  padding-left: 1em;
  padding-right: 3em;
}

.past-day {
  border: black solid 2px;
}


/* Calendar Table Styling */
.table-week {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
  height: 100%;
}

/* Calendar Data Cell Styling */
.table-week td {
  position: relative;
  border: 3px solid black;
  padding: 0;
}

/* Calendar date */
td .cell-date {
  position: absolute;
  top: 0;
  left: 2px;
}

/* Sentiment icon */
td .sentiment-icon {
  position: absolute;
  top: 2px;
  right: 5px;
  height: 18px;
}

/* Productivity icon */
td .productivity-icon {
  position: absolute;
  top: 2px;
  right: 24px;
  height: 18px;
}

/* Task div in calendar cell */
td .task-div {
  position: absolute;
  top: 24px;
  justify-content: space-between;

  width: 96%;
  height: 78%;
}

/* Unordered list in calendar cell */
.task-ul{
  margin: 0;
  padding-left: 6px;
  color: black;
  font-size: 12px;
  line-height: 1;
}

/* Individual tasks in calendar cell */
.task-item{
  list-style-position: inside;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Extra tasks in calendar cell */
.task-indicator{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 7px;
  font-weight: bolder;
}

/* Individual tasks in calendar cell */
.task-item::marker{
  color: var(--task-color, "black");
  font-size: 1.5em; 
}

/* Button links to specific homepage in calendar cell */
.a-link {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
/* End of past week */